body{
 background-color: #C3C3E5;
}

.content {
  max-width: 900px;
  margin: auto;
 color:  #F1F0FF;
}

.home, .meals, .shop, .view{
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
}

.home h1, .meals h1, .shop h1, .view h1{
   font-family: 'Rozha One', serif; 
   font-size: 4em;
    color: #443266;
 }

.home button, .meals button, .shop button, .view button{
    margin: 1em;
    font-family: 'Barlow', sans-serif;
    width: 10em;
    height: 2.5em;
    text-align: center;
    background-color: #443266; 
    border: 2px solid #F1F0FF;
}

.home a, .meals a, .shop a, .view a {
    text-decoration: none;
    color: #F1F0FF;
}

.meal_form, .shop_form {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif; 
    border: 2px solid black;
    margin: 3em;
 }

.meal_form h2, .shop_form h2{
   font-family: 'Rozha One', serif;
      color: #443266;
}

.meal_form input, .shop_form input{
    padding: .5em;
    margin: 1em;
    text-align: center;
    width: 15em;
}


.shop_form textarea{
    overflow: auto;
    resize: none;
    font-family: 'Barlow', sans-serif;
    width: 30em;
    height: 20em;
  }

.current{
   border: 2px solid black;
   margin: 3em; 
  font-family: 'Barlow', sans-serif;
}


