.content {
  max-width: 500px;
  margin: auto;
}

.home, .meals, .shop, .view{
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
}

.home h1, .meals h1, .shop h1, .view h1{
   font-family: 'Rozha One', serif; 
   font-size: 4em;
 }

.home button, .meals button, .shop button, .view button{
    margin: 1em;
    font-family: 'Barlow', sans-serif;
    width: 10em;
    height: 2.5em;
    text-align: center;
}

.home a, .meals a, .shop a, .view a {
    text-decoration: none;
    color: black;
}

.meal_form, .shop_form {
     display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif; 
    border: 2px solid black;
    margin: 3em;
}

.meal_form h2, .shop_form h2{
   font-family: 'Rozha One', serif; 
}

.meal_form input, .shop_form input{
    padding: .5em;
    margin: 1em;
    text-align: center;
    width: 20em;
}

.shop_form textarea{
    overflow: auto;
    width: 600px;
	height: 120px;
}



